<div class="card mb-3">
  <div class="card-body">
    <LinkTo @route="account" @model={{@id}} class="text-decoration-none">
      <div class="d-flex justify-content-around col-md-12 pb-2">
        <div class="col-md-2">
          {{#if @image}}
          <img class="avatar" src='data:image/jpeg;base64,{{@image}}' alt="">
          {{else}}
          <img class="avatar" src="/assets/images/user.png" alt="">
          {{/if}}
        </div>
        <div class="col-md-10 d-flex flex-column justify-content-around">
          <h5>{{@name}}</h5>
        </div>
      </div>
    </LinkTo>
    <div>
      <p class="card-text">{{@description}}</p>
    </div>
    {{#if @image}}
    <img class="card-img" src='data:image/jpeg;base64,{{@image}}' alt="Card image cap">
    {{/if}}
    <hr class="hr-bottom">
    <div>
      {{#if this.isLiked}}
      <div class="text-align-center">
        <button type="button" class="btn btn-outline-none" disabled={{this.isLoading}} {{on "click" this.unlikePost}}>
          <i class="bi bi-hand-thumbs-up-fill" style="color: blue;"></i>You and {{this.likeds}} Others
        </button>
      </div>
      {{else}}
      <button type="button" class="btn btn-outline-none" disabled={{this.isLoading}} {{on "click" this.likePost}}>
        <i class="bi bi-hand-thumbs-up"></i>{{this.likeds}} Like
      </button>
      {{/if}}
    </div>
    <hr class="hr-top">
  </div>
</div>

{{yield}}