<button class="btn btn-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" type="button"><i
        class="bi bi-pencil-square"></i> Edit Profile</button>
<div class="modal" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Edit Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="d-flex justify-content-between">
                        <h6>Profile picture</h6>
                        <button class="btn btn-outline-none" data-bs-target="#image" data-bs-toggle="modal"
                            type="button"><i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        {{#if @accoutDetail.profile.image}}
                        <img class="avatar" src='data:image/jpeg;base64,{{@accoutDetail.profile.image}}' alt="">
                        {{else}}
                        <img class="avatar" src="/assets/images/user.png" alt="">
                        {{/if}}
                    </div>
                </div>

                <div>
                    <div class="d-flex justify-content-between">
                        <h6>Bio</h6>
                        <button class="btn btn-outline-none" data-bs-target="#bio" data-bs-toggle="modal"
                            type="button"><i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <p>Describe yourself…</p>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <h6>Customise your Intro</h6>
                        <button class="btn btn-outline-none" data-bs-target="#intro" data-bs-toggle="modal"
                            type="button"><i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <div>
                            <i class="bi bi-suitcase-lg-fill text-secondary"></i> Trainee at Zoho 2024 to present
                        </div>
                        <div>
                            <i class="bi bi-mortarboard-fill text-secondary"></i> Went to Vivekananda Matriculation
                            Higher Secondary School,Paundamangalam Left in 2017
                        </div>
                        <div>
                            <i class="bi bi-house-door-fill text-secondary"></i> Lives in Chennai, India
                        </div>
                        <div>
                            <i class="bi bi-house-door-fill text-secondary"></i> From Dindigul, Tamil Nadu
                        </div>
                        <div>
                            <i class="bi bi-mortarboard-fill text-secondary"></i> Single
                        </div>
                        <div class="d-flex align-items-center justify-content-start gap-2">
                            <div>
                                <i class="bi bi-telephone-fill text-secondary"></i>
                            </div>
                            <div>
                                <p style="margin: 0;">1234567890</p>
                                <span>Mobile</span>
                            </div>
                        </div>
                        <div>
                            <i class="bi bi-heart-fill text-secondary"></i> Single
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#image" data-bs-toggle="modal" type="button">Open second
                    modal</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="image" aria-hidden="true" aria-labelledby="imageModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imageModalToggleLabel">Choose profile picture</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form {{on "submit" this.handleSubmit}} class="d-flex flex-column gap-3 p-3">
                <div class="modal-body">
                    <input class="form-control" type="file" id="formFile" {{on "change" this.handleFileChange}}>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                        type="button">Cancel</button>
                    <button class="btn btn-primary" disabled={{this.isLoading}} type="submit">
                        {{#if this.isLoading}}
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                        {{else}}
                        Save
                        {{/if}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="bio" aria-hidden="true" aria-labelledby="bioModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bioModalToggleLabel">Bio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="1" placeholder="Describe who you are"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                    type="button">Cancel</button>
                <button class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="intro" aria-hidden="true" aria-labelledby="introModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="introModalToggleLabel">Edit details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="d-flex flex-column gap-3">
                        <div>
                            <h5>Work</h5>
                            <div class="d-flex flex-column gap-2">
                                <p>Former Trainee at Zoho</p>
                                <p style="margin: 0;">4 April 2023 - 5 April 2024 Chennai, India</p>
                                <p>asdf</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <div>
                            <h5>Education</h5>
                            <div class="d-flex flex-column gap-2">
                                <p>Former Trainee at Zoho</p>
                                <p style="margin: 0;">4 April 2023 - 5 April 2024 Chennai, India</p>
                                <p>asdf</p>
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile"
                                    aria-selected="false">About</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                    type="button">Cancel</button>
                <button class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>