<div>
    <h5>Basic info</h5>
    <div class="d-flex flex-column gap-3">
        <div class="d-flex justify-content-between gap-2">
            {{#unless this.genderEdit}}

            <div class="d-flex justify-content-between">
                <div>
                    <i class="bi bi-person-fill text-secondary"></i>
                </div>
                <div>
                    <p style="margin: 0;">{{this.gender}}</p>
                    <span>Gender</span>
                </div>

            </div>
            <div>
                <button class="btn btn-outline-none" {{on "click" (fn this.setGenderEdit true)}} type="button"><i class="bi bi-pencil-square"></i></button>
            </div>
            {{else}}
            <form {{on "submit" this.submitGender}} class="d-flex flex-column gap-3 p-3">
                <div>
                    <select value={{this.gender}} {{on "change" this.updateGender}} class="form-select"
                        aria-label="Default select example">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
                <div class="d-flex gap-2">
                    <button type="button" {{on "click" (fn this.setGenderEdit false)}}
                        class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            {{/unless}}
        </div>
        <div class="d-flex align-items-center justify-content-start gap-2">
            <div>
                <i class="bi bi-cake-fill text-secondary"></i>
            </div>
            <div>
                <p style="margin: 0;">{{this.dateOfBirth}}</p>
                <span>Birth Day</span>
            </div>
        </div>
    </div>
</div>
{{yield}}