<div>
    <button class="btn btn-outline-none" {{on "click" this.handleIsShow}}><i class="bi bi-bell"></i></button>
    {{#if this.isShow}}
    <div class="card p-2" style="position: absolute;z-index: 10; width:20%">
        {{#if this.websocket.data}}
        {{#each this.websocket.data as |data|}}
        <div class="d-flex justify-content-around col-md-12 pb-2">
            {{#each data.user as |user|}}
            <div class="d-flex justify-content-center align-items-center col-md-2">
                {{#if user.profile.image}}
                <img class="avatar" style="width: 90%;" src='data:image/jpeg;base64,{{user.profile.image}}' alt="">
                {{else}}
                <img class="avatar" style="width: 90%; height: auto;" src="/assets/images/user.png" alt="">
                {{/if}}
            </div>
            <div class="col-md-10 d-flex">
                <p style="margin: 0;"><b>{{concat user.first_name " " user.last_name}}</b> {{data.message}}
                {{#each data.tag as |tag|}}
                <b style="border: 2px solid blue;border-radius:5px" class="px-1">{{concat tag.first_name " " tag.last_name}}</b>
                {{/each}}
                {{data.comment}}
                </p>
            </div>
            {{/each}}
        </div>
        {{/each}}
        {{else}}
        <div class="d-flex align-items-center justify-content-center">
            <p>No Data</p>
        </div>
        {{/if}}
    </div>
    {{/if}}
</div>