<div>
  <input class="search" type="search" placeholder="Search Facebook" aria-label="Search" value={{this.searchQuery}}
    oninput={{this.performSearch}}>
  <div class="bg-white col-md-12" style="position: absolute;z-index: 10;">
    {{#if this.isLoading}}
    <p>Loading...</p>
    {{else}}

    {{#if this.searchResults.length}}
    <ul>
      {{#each this.searchResults as |result|}}
      <div>
        {{#if @handleTag}}
        <a class="text-decoration-none" {{on "click" (fn this.clearSearchResults result) }}>
          {{concat result.first_name " " result.last_name}}
        </a>
        {{else}}
        <LinkTo @route="account" @model={{result.id}} class="text-decoration-none" {{on "click" this.clearSearchResults}}>
          {{concat result.first_name " " result.last_name}}
        </LinkTo>
        {{/if}}
      </div>
      {{/each}}
    </ul>
    {{else if this.searchQuery}}
    <p>No results found</p>
    {{/if}}
    {{/if}}
  </div>
</div>