<div>
    {{#if this.isLoading}}
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    {{else}}
    <Navbar @user={{this.userData.user}} />
    <div class="col-md-12 d-flex flex-column  gap-3">
        <div class="bg-white shadow-sm mt-5 pt-5 d-flex flex-column align-items-center justify-content-center">
            <div class="col-md-9 px-4">
                <div class="d-flex justify-content-between col-md-12">
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        {{#if this.accountUser.profile.image}}
                        <img class="avatar" src='data:image/jpeg;base64,{{this.accountUser.profile.image}}' alt="">
                        {{else}}
                        <img class="avatar" src="/assets/images/user.png" alt="">
                        {{/if}}
                        <h5>{{concat this.accountUser.first_name " " this.accountUser.last_name}}</h5>
                    </div>
                    {{#if (eq this.user_id this.model)}}
                    <div class="d-flex flex-row gap-2 align-items-center justify-content-center">
                        <Profile @loadData={{this.loadData}} @accoutDetail={{this.accountUser}} />
                        <button class="btn btn-primary" type="submit" {{on "click" this.logout}}>Logout</button>
                    </div>
                    {{else}}
                    <Friend @loadFriend={{this.loadFriend}} @friends={{this.friends}} @id={{this.accountUser.id}} @user_id={{this.user_id}} />
                    {{/if}}
                </div>
                <hr>
                <div class="d-flex justify-content-start">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Posts</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">About</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Friends</button>
                        </li>
                        {{!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#requests"
                                type="button" role="tab" aria-controls="requests" aria-selected="false">Friends Requests</button>
                        </li> --}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="col-md-9 px-4">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <Nav::Posts @friend={{this.friend}} @posts={{this.userPosts}} />
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <Nav::About />
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <Nav::Friends @friend={{this.friend}}/>
                    </div>
                    <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                        <Nav::Requests @friend={{this.friend}}/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>
{{outlet}}